/* Projects section styling */
.projects {
  color: #fff;
  background: #111;
}
.projects .title::after {
  background: #111;
  content: "what i provide";
}
.projects .title::before {
  background: #fff;
}
.projects .title::after {
  content: "few of my work";
}
.projects .carousel .card {
  background: #222;
  border-radius: 6px;
  padding: 25px 35px;
  text-align: center;
  overflow: hidden;
  transition: all 0.3s ease;
}
.projects .carousel .card:hover {
  background: #614eca;
}
.projects .carousel .card .box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
}
.projects .carousel .card:hover .box {
  transform: scale(1.05);
}
.projects .carousel .card .text {
  font-size: 25px;
  font-weight: 500;
  margin: 10px 0 7px 0;
}
.projects .carousel .card img {
  height: 200px;
  width: 300px;
  object-fit: cover;
  /* border-radius: 50%; */
  border: 5px solid #614eca;
  transition: all 0.3s ease;
}
.projects .carousel .card:hover img {
  border-color: #fff;
}
.owl-dots {
  text-align: center;
  margin-top: 20px;
}
.owl-dot {
  height: 13px;
  width: 13px;
  margin: 0 5px;
  outline: none !important;
  border-radius: 50%;
  border: 2px solid #614eca !important;
  transition: all 0.3s ease;
}
.owl-dot.active {
  width: 35px;
  border-radius: 14px;
}
.owl-dot.active,
.owl-dot:hover {
  background: #614eca !important;
}
