.screen1 {
  position: absolute;
  height: 100vh;
  display: grid;
  visibility: visible;
  width: 100%;
  overflow: hidden;
  animation: vish 1s ease-in-out 1s;
  animation-fill-mode: forwards;
}
@keyframes vish {
  to{
    transform: scale(0);
    transform-origin: top;
  }
}

.display {
  width: 100%;
  height: 100%;
  display: grid;
  justify-content: center;
  text-align: center;
  background-color: black;
  grid-template-rows: 1fr;
}


.hero {
  background-color: black;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  flex-direction: column;
  animation: mL 1s ease-out;
  animation-fill-mode: forwards;
}
@keyframes mL {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.loading{
  background-image: url("./90OK.gif");
  background-size: cover;
  background-position: center center;
  width: 50vh;
  height: 50vh;
}